<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoph2YL_ahIoAObx7TRPVAkfFSxAHj0rM</string>
	<key>GCM_SENDER_ID</key>
	<string>406559053496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.infinitum.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-5f9f7</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-5f9f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406559053496:ios:bef965bbc58567a126064d</string>
</dict>
</plist>